@using System
@model RESTfulAPI.Controllers.RestAPIViewModel

@{
    ViewBag.Title = "PersonView";
}

<h2>PersonView</h2>

<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        @using (Html.BeginForm())
                        {
                            <div class="row" style="border-width: 1px; border-color: #81837a; border-style: solid; padding-top: 5px; margin-left: 5px; margin-right: 5px; background-color: #d1d4c5; ">
                                <div class="col-md-3">
                                    <div class="required-field-block">
                                        @Html.TextBoxFor(model => model.InmateSearchValue, new { @class = "form-control input-sm", @placeholder = "Inmate Number" })
                                        @Html.TextBoxFor(model => model.BookingSearchValue, new { @class = "form-control input-sm", @placeholder = "Booking Number" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.LastNameSearchValue, new { @class = "form-control input-sm", @placeholder = "Last Name" })
                                    @Html.TextBoxFor(model => model.FirstNameSearchValue, new { @class = "form-control input-sm", @placeholder = "First Name" })
                                </div>

                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.CommitDateSearchValue, new { @class = "form-control input-sm", @placeholder = "Commit Date (Format: 01/01/2015)" })
                                    <p>Search range is +/- 1 day from the date entered.</p>
                                </div>
                                <div class="col-md-12">
                                    <input class="btn btn-square btn-primary pull-left" type="submit" value="Search OMS" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <br />
                <table class="table table-bordered table-condensed table-striped display" id="BookingQueueTable">
                    <thead>
                        <tr>
                            <th>Inmate #</th>
                            <th>Booking #</th>
                            <th>TID</th>
                            <th>Name</th>
                            <th>DOB</th>
                            <th>Eye Color</th>
                            <th>Hair Color</th>
                            <th>Commit Date/Time</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in Model.QueueList)
                        {
                            <tr>
                                <td>@row.InmateNumber</td>
                                <td>@row.PIN</td>
                                <td>@row.TID</td>
                                <td>@string.Format("{0}, {1} {2}", row.LastName, row.FirstName, row.MiddleName).Trim().Replace("  ", " ")</td>
                                @{
                                    dob = row.DOB == null ? "" : ((DateTime)row.DOB).ToString("MM/dd/yyyy");
                                }
                                <td>@dob</td>
                                <td>@row.EyeColor</td>
                                <td>@row.HairColor</td>
                                @{
                                    comdDate = row.ComDate == null ? "" : ((DateTime)row.ComDate).ToString("MM/dd/yyyy hh:mm tt");
                                }
                                <td>@comdDate</td>

                                <td style="width: 30px"><a href=@Url.Content(string.Format("~/BookingQueue/ConfirmImport?bookingNumber={0}&inmateNumber={1}", row.PIN, row.InmateNumber)).ToString() class="btn btn-xs btn-primary btn-square"><i class="fa fa-download fa-lg"> Import</i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>